<div class="share">
<h3>Partagez !</h3>
    <ul>

        <li class="ml-1 mr-1">
Mastodon
        <a target="_blank" href="web+mastodon://share?text={{ .Title }}%0Ahttps://journal.frama.io{{ .URL }}">
        <i class="fas fa-retweet "></i>
        </a>
        </li>

        <li class="ml-1 mr-1">
Diaspora
        <a target="_blank" href="http://sharetodiaspora.github.io/?title={{ .Title }}&url=https://journal.frama.io{{ .URL }}">
        <i class="fas fa-asterisk "></i>
        </a>
        </li>

        <li class="ml-1 mr-1">
Twitter
        <a target="_blank" href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .URL | absLangURL }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=435');return false;">
        <i class="fab fa-twitter"></i>
        </a>
        </li>
        
        <li class="ml-1 mr-1">
Facebook
        <a target="_blank" href="https://facebook.com/sharer.php?u={{ .URL | absLangURL }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
        <i class="fab fa-facebook-f"></i>
        </a>
        </li>

   
    </ul>

    {{ if .Params.comments }}
        <div class="sep">
        </div>				
        <ul>
            <li> 
            <a  class="small smoothscroll" href="#disqus_thread"></a>
            </li>
        </ul>
    {{ end }}
</div>