<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "_shared/head.html" . -}}
    <body>
        {{- block "header" . }}{{- end }}
        <div class="site-content">   
            <div class="container">
                {{- block "main" . }}{{- end }}
            </div>
            {{- block "footer" . }}{{- end }}
        </div>
    </body>
</html>
