<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
		<a href="https://journal.frama.io">Le Journal</a></span> est mis à disposition selon les termes de la license<br>
		<a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution -  Partage dans les Mêmes Conditions 4.0 International</a>.
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
		<a href="https://creativecommons.org/licenses/by-sa/4.0/"><img src="/images/CC-BY-SA.png"></a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->
