<section class="text-center">
    {{ with .Site.Params.social.gitlab }}
    <a href="https://framagit.org/{{.}}"><i class="fab fa-gitlab social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.mastodon }}
    <a href="https://mstdn.io/{{.}}"><i class="fas fa-retweet social-icon" aria-hidden="true"></i></a>
    {{ end }}
   {{ with .Site.Params.social.rss }}
    <a href="/{{.}}"><i class="fas fa-rss social-icon" aria-hidden="true"></i></a>
    {{ end }}
</section>
